body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7fffd4;
}

.container {
    width: 680px;
    height: 680px;
    background-color: #ffffff;
    display: flex;
    margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    flex: 1;
}